
#menuBar{
    background: #f5f8f9 url(../images/template/ui/ui-bg_inset-hard_100_f5f8f9_1x100.png) repeat-x;
    background-repeat: repeat-x;
    border-bottom:1px solid #99BBE8;
    height: 26px;
}
/*

#menuBar ul, #menuBar ul li{
 display: inline;
 margin: 0px;
 padding: 0px;
}

#menuBar ul li a, #menuBar ul li a:link, #menuBar ul li a:active {
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    padding: 3px;
    color: #15428B;
}

#menuBar ul li a:hover {
    border: 1px solid #99BBE8;
    padding: 2px;
}






.navigation a:hover {
    text-decoration: underline;
}

.navigation li {

    float: left;

    position: relative;


}



.navigation ul {
    position: absolute;
    display: none;
    min-width: 120px;
    
      background: #f5f8f9 url(../images/template/ui/ui-bg_inset-hard_100_f5f8f9_1x100.png) repeat-x;
    background-repeat: repeat-x;
    border: 1px solid #99BBE8;
    font-family:"Trebuchet MS","Tahoma",sans-serif;
    font-size:13px;
    padding:2px;
    white-space:nowrap;
    color:#15428B;
    font-family:tahoma,arial,verdana,sans-serif;
    font-size:11px;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    line-height:normal;
    
}

.navigation ul li a:hover {
    border: 0px;
    text-decoration: underline;
    padding: 3px ;
}




.navigation li li{

    min-width: 120px;

    }

.navigation li ul a {
    width: 100%;
    display: block;

    float: left;

    padding-left:10px;

}



.navigation ul ul {
    top: auto;
}



.navigation li ul ul {
    left: 95px;
    margin: 0px 0 0 45px;
}



.navigation li:hover ul ul,.navigation li:hover ul ul ul,.navigation li:hover ul ul ul ul {
    display: none;
}

.navigation li:hover ul,.navigation li li:hover ul,.navigation li li li:hover ul,.navigation li li li li:hover ul{
    display: block;
}
*/

